* {
  margin: 0;
  padding: 0;
}

body{
  background-color: white;
  color: #263238;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

form {
    display: inline;
}

button {
  outline:none;
  height: 30px;
  text-align: center;
  width: 100px;
  border-radius:30px;
  background: #4169E1;
  border: 2px solid #fff;
  color: #fff;
  letter-spacing:1px;
  text-shadow:0;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 2px;
  margin-left: 2px;
}

ul, li {
  margin-top: 15px;
  margin-left: 0;
  padding-left: 0;
  min-width: 80vw;
  color: #263238;
  list-style-type: none;
  /* text-align: left; */
  /* width: 50%; */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  background: rgba(255, 255, 255, 0.7);
  max-width: 800px;
  margin: auto;
}

#navbar {
  border-bottom: 1px solid lightgray;
  align: center;
  position: fixed;
  width: 100%;
  background-color: white;
  color: black;
  height: 80px;
}

#navbar .contentholder {
  display: inline-block;
  text-align: left;
  position: static;
  width: 1000px;
  height: 100%;
  background-color: white;
}

#navbar .contentholder .logo {
  display: inline-block;
  width: 200px;
  height: 70px;
  text-align: left;
  background-color: white;
}

#navbar .contentholder #space {
  display: inline-block;
  width: 250px;
  text-align: left;

}

#navbar .contentholder .controlpanel {
  width: 500px;
  background-color: blue;
  display: inline-block;
  text-align: right;
  color: #5D6D7E;
  background-color: white;
}

#navbar .contentholder .controlpanel .inputs{
  text-align: center;
  font-style: italic;
  height: 20px;
  width: 120px;
  border-radius: 8px;
  border: 1px solid lightgray;
}

#navbar .contentholder .controlpanel .buttons{
  padding: 1px;
  height: 25px;
  border-bottom: 1px solid #5D6D7E;
  border-radius: 1px;
  background-color: white;
  color: #5D6D7E;
}

#navbar .contentholder .controlpanel .buttons:hover{
  height: 25px;
  border-radius: 1px;
  border: 1px solid #283747;
  background-color: white;
  color: #283747;
}

#navbar .contentholder .controlpanel #logout{
  height: 25px;
  border-bottom: 1px solid #C2185B;
}

#navbar .contentholder .controlpanel #logout:hover{
  height: 25px;
  border-radius: 1px;
  border: 1px solid #C2185B;
  background-color: #C2185B;
  color: white;
}

#navbar .contentholder .controlpanel #register{
  height: 25px;
  border-radius: 1px;
  border-bottom: 1px solid #FF5733;
  background-color: white;
  color: #5D6D7E;
}

#navbar .contentholder .controlpanel #register:hover{
  height: 25px;
  border-radius: 1px;
  border: 1px solid #FF5733;
  background-color: #FF5733;
  color: white;
}

#navbar .contentholder .userstatus{
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  width: 100px;
  height: 60px;
}

#navoffset {
  height: 80px;
}
