<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <title>Makers BnB</title>
</head>
<body>
<div id="navbar">
  <div class="contentholder">
  <div class="logo">
    <a href="/"><image src="img/logo.png" height="60px"/></a>
  </div>
  <span id="space">
  </span>
  <div class="controlpanel">
    <% if @user == nil %>
    <form action="/session" method="POST">
      <input name="username" class="inputs" type="text" placeholder="username" />
      <input name="password" class="inputs" type="password" placeholder="password" />
      <button type="submit" class="buttons">Login</button>
    </form>
    <form action="/users" >
      <button type="submit" id="register">Register</button>
    </form>
    <% end %>
    <% if @user != nil %>
    <form action="/my-spaces">
      <button type="submit" class="buttons">My Spaces</button>
    </form>
    <form action="/my-bookings">
      <button type="submit" class="buttons">My Bookings</button>
    </form>
    <div class="userstatus">
      <small><small><i>signed in as</i></small></small><br>
    <big><big><%= @user.username %></big></big>
    <form action="/session" method="post">
      <input type="hidden" name="_method" value='DELETE'>
      <button type="submit" class="buttons" id="logout">Logout</button>
    </form>
    </div>
    <% end %>
  </div>
  </div>
</div>
<div id="navoffset"></div>
<div id="splashimage">
  <div id="splashtext">
    <h1> Thundercats are GO! </h1>
    <p>and we're taking you with us</p>
  </div>
  <div id="splashcover">
    <div><br>
      <h3>Search dates</h3>
      </div>
  </div>
</div>


  <div class = 'container'>


    <ul>
      <% @spaces.each { |space| %>
        <li>
          <h5><%= space.space_name %></h5>
            <p>£ <%= space.price %> / night</p>
          <img src="https://source.unsplash.com/600x400?livingroom,kitchen,bedroom,food" alt="">
          <p>Description: <%= space.description %></p>
        </li>
        <% } %>
      </ul>

    </div>

  </body>
  </html>
