<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Makers BnB</title>
  </head>

  <body>
    <header>
      <h1 class="logo">MakersBnB </h1>
      </header>
      <form action="/" >
        <button type="submit">Home</button>
      </form>
      <form action="/session" method="post">
        <input type="hidden" name="_method" value='DELETE'>
        <button type="submit">Logout</button>
      </form>

      <h1>My Bookings:</h1>
      <ul>
        <% @bookings.each { |booking| %>
          <div class = 'container'>
            <li>
              <h2>Check-in Date: <%= booking.booking_date %></h2>
              <img src="https://source.unsplash.com/600x400?livingroom,kitchen,bedroom,food" alt="">
              <p>Space  ID: <%= booking.space_id %></p>
            </li>
            </div>
            <% } %>
          </ul>
        </body>
        </html>
