<div id="navbar">
  <div class="contentholder">
  <div class="logo">
    <a href="/"><image src="img/logo.png" height="60px"/></a>
  </div>
  <span id="space">
  </span>
  <div class="controlpanel">
    <% if @user == nil %>
    <form action="/session" method="POST">
      <input name="username" class="inputs" type="text" placeholder="username" />
      <input name="password" class="inputs" type="password" placeholder="password" />
      <button type="submit" class="buttons">Login</button>
    </form>
    <form action="/users" >
      <button type="submit" id="register">Register</button>
    </form>
    <% end %>
    <% if @user != nil %>
    <form action="/my-spaces">
      <button type="submit" class="buttons">My Spaces</button>
    </form>
    <form action="/my-bookings">
      <button type="submit" class="buttons">My Bookings</button>
    </form>
    <div class="userstatus">
      <small><small><i>signed in as</i></small></small><br>
    <big><big><%= @user.username %></big></big>
    <form action="/session" method="post">
      <input type="hidden" name="_method" value='DELETE'>
      <button type="submit" class="buttons" id="logout">Logout</button>
    </form>
    </div>
    <% end %>
  </div>
  </div>
</div>
<div id="navoffset"></div>
