<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h2>Post a new space</h2>

  <form action="/post-space" method="post">
    <label for="spacename">Title</label>
    <input name="spacename" type="text" placeholder="Name" />
    <label for="price">Price</label>
    <input name="price" type="text" placeholder="Price" />
    <label for="description">Description</label>
    <textarea name="description" placeholder="Add a description of your space here" ></textarea>
    <input type="submit" value="Submit" />
  </form>


</body>
</html>