<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <title>MakersBnB</title>
</head>
<body>
  <%= erb(:navbar) %>
  <h2>You are about to book a space</h2>
  <h3>The space you want to book is <%= @space.space_name %></h3>
  

</body>
</html>
