<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Makers BnB</title>
  </head>
  <body>
  <h2>Update this space</h2>

  <form action="/space" method="post">
    <input type="hidden" name="_method" value="PUT">
    <input type="hidden" name="space_id" value = "<%=@space.id%>">
    <label for="spacename">Title</label>
    <input name="spacename" type="text" value="<%=@space.space_name%>" />
    <label for="price">Price</label>
    <input name="price" type="text" value= "<%=@space.price%>"/>
    <br>
    <label for="description">Description</label>
    <textarea rows="10" cols="100" name="description" value="<%=@space.description%>" ></textarea>
    <input type="submit" value="Submit" />
  </form>
  </body>
</html>
